@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", ui-sans-serif, system-ui, sans-serif;

  --color-brand-green-dark: #015A06;
  --color-brand-green-primary: #327130;
  --color-brand-green-light: #98B696;
  --color-brand-gold: #C4A47C;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #000000;
}